.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #181c24;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.drop-zone-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 150px;
}

#drop-zone {
  display: grid;
  justify-content: center;
  align-content: start;
  align-items: center;
  width: 80vw;
  max-height: 70%;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  background: #000;
  color: #addd;
  border: 2px dashed #addd;
  border-radius: 25px;
}

#drop-zone > li {
  width: 100%;
  height: auto;
  padding: 8px 12px;
  margin: 0 auto;
}

#drop-zone > li:last-of-type {
  background: #fff3;
  border-radius: 5px;
}

#drop-zone > li:last-of-type::after {
  content: " (available below ↓)";
}

#drop-zone > li.no-bg {
  background: transparent;
}

#drop-zone > li.no-bg::after {
  content: "";
}

.drop-zone-overlay {
  border: dashed grey 4px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.drop-zone-overlay > div {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  text-align: center;
  color: grey;
  font-size: 2rem;
}

.output-image-container {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
}

#output-image {
  width: 300px;
  padding: 0;
  margin: 10px 0;
}

.ghost {
  display: none;
}

.inactive {
  pointer-events: none;
  color: gray;
}
