/* -- Baseline -- */
ul {
  list-style: none;
}

img,
video,
div,
section,
article,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
}

.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  background-color: #282c34;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dark-vertical.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #181c24;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dark-vertical.png");
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #efefef;
}

header h1 {
  width: 80vw;
}

.slide-in-info-container {
  min-height: 30px;
}

.drop-zone-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 150px;
}

.drop-zone {
  width: 75vw;
  padding: 25px 0;
  border: 2px dashed #addd;
  border-radius: 25px;
}

#drop-zone {
  display: grid;
  justify-content: center;
  align-content: start;
  align-items: center;
  width: 80vw;
  max-height: 70%;
  padding: 10px 0;
  background: #000;
  color: #addd;
  border: 2px dashed #addd;
  border-radius: 25px;
}

#drop-zone > li {
  width: 100%;
  height: auto;
  padding: 8px 12px;
}

#drop-zone > li:last-of-type {
  background: #fff3;
  border-radius: 5px;
}

#drop-zone > li:last-of-type::after {
  content: " (Click Process Below ↓)";
}

#drop-zone > li:nth-of-type(2) {
  border-radius: 0;
  border-top: 1px solid aliceblue;
}

#drop-zone > li:first-of-type {
  background: transparent;
  border-radius: 0;
  text-align: center;
}

#drop-zone > li:first-of-type::after {
  content: "";
}

.drop-zone-overlay {
  border: dashed grey 4px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.drop-zone-overlay > div {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  text-align: center;
  color: grey;
  font-size: 2rem;
}

.output-image-container {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
}

#output-image {
  width: 300px;
  margin: 10px 0;
}

/* -- File List Items --  */

.file-list-item {
  width: 100vw;
  margin: 25px auto;
}

.list-item-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  padding: 10px 15px;
  background: #ddd;
  border-radius: 5px;
}

.list-item-header > a {
  text-align: right;
}

.list-item-header > * {
  width: 100%;
}

.renditions-list-container {
  width: 80vw;
  background: #181c24;
  color: #efefef;
  border-radius: 0 0 5px 5px;
}

.renditions-list-container > h3 {
  padding: 10px 5px;
  width: 95%;
}

.renditions-list {
}

.renditions-list-item {
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 25px;
  padding: 10px;
  border-top: 1px solid #efefef;
  width: 95%;
}

.renditions-list-item:nth-of-type(even) {
  background: #282c3480;
}

.fa-level-up-alt {
  padding: 5px;
}

/* -- HELPER CLASSES -- */

.ghost {
  display: none;
}

.inactive {
  pointer-events: none;
  color: gray;
}

.rotate-90 {
  transform: rotate(90deg);
}

.desaturate {
  color: #737373;
}
