/* -- Custom Properties -- */
:root {
  --bg-img: url("./subtle-dark-vertical.png");
}

/* -- Baseline -- */
ul {
  list-style: none;
}

img,
video,
div,
section,
article,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  background-color: #282c34;
  background-image: var(--bg-img);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #181c24;
  background-image: var(--bg-img);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #efefef;
}

header h1 {
  width: 80vw;
}

.slide-in-info-container {
  min-height: 30px;
}

.drop-zone-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 150px;
}

.drop-inactive {
  display: inline-block;
  position: relative;
  border: 3px solid transparent;
  border-radius: 8px;
}

.drop-active {
  border: 3px solid green;
  border-radius: 8px;
}

.file-list-container {
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
}

/* -- HELPER CLASSES -- */

.rotate-90 {
  transform: rotate(90deg);
}
